.article-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    margin-bottom: 20px; /* Add space between each card */
  }
  
  .article-card:hover {
    transform: translateY(-5px);
  }
  
  .card-title {
    color: #333;
  }
  
  .card-text {
    color: #666;
  }
  
  .custom-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-btn:hover {
    background-color: #218838;
  }
  